<div class="row">
    <div class="col-md-3">
        
    </div>
    
    <div class="col-md-6">
        <div class="row"> 
            
            <div class="panel panel-success">
                
                <div class="panel-heading">
                    Your story details
                </div>
                
                <div class="panel-body">
                    <p> {{ details.story.content }} </p>
                </div>
                
                <button type="button" class="btn btn-danger" ng-click="details.deleteStory()">Delete</button>
                
            </div>
            
        </div>
    </div>
    
    
    <div class="col-md-3">
        
    </div>
</div>